<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" th:href="@{/}" href="/">Nome da Loja</a>
				<ul class="nav">
					<li><a th:href="@{/pe}" href="pe.html">Pronta entrega</a></li>
					<li><a th:href="@{/ef}" href="ef.html">Entrega Futura</a></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>